/* regola css per annullare il margin e il pagging della pagina*/
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
 }

 /*classi header*/
 .pattern {
    background-color: rgb(4, 163, 255);
    height: 200px;
    background-image: url(../img/pattern.png);
 }

 /*Formattazione pattern header*/
 #logo {
    width: 20%;
    padding-top: 100px;
 }

 
 /*Formattazione titolo main*/
 #titolo {
    font-size: 50px;
    padding-top: 20px;
 }

 /*Formattazione sottotitolo main*/
 #sottotitolo {
    color: gray;
    padding-top: 10px;
    padding-bottom: 20px;
 }

  /*Formattazione span sottotitolo*/
#sottotitolo span {
    color: rgb(4, 163, 255);
}

/*Formattazione primo paragrafo*/
#primo-paragrafo {
    padding-top: 40px;
    
}

/*Sottolianetura primo paragrafo*/
#primo-paragrafo span{
    background-color:yellow;
    color: black;
}

/*Formattazione lista*/
#lista{
    padding: 40px 0 40px 0;
}

/*Formattazione tabella generale*/
#tabella{
    padding: 40px 0 40px 0;
    border-collapse: collapse;
    width: 100%;
}

/*Formattazione intestazione tabella*/
#intestazione {
    background-color: rgb(0, 153, 255);
    color: white;
}

/*Formattazione celle corpo tabella*/
th, td {
    text-align: left;
    padding: 8px;
  }

/*Formattazione celle colorate tabella*/
#riga-pari, #riga-pari1 {
    background-color: #96deff;
}