/* regola css per annullare il margin e il pagging della pagina*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 /*Formattazione pattern header*/
 #pattern {
    background-color: rgb(4, 163, 255);
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 200px;
 }